    <!-- FOOTER -->

    <section class="footer">
        <footer class="container">

            <div class="col-md-12 footer--contact-info">
                <small>&copy; 2016 | Ali Wamahiu</small>

                <small class="footer--social-links">
               <a href="mailto:aliwamahiu@gmail.com"><i class="fa fa-envelope-o"></i>  Email</a>
                </small>
            </div>

<!--
            <div class="col-xs-12 show-medium footer--contact-info">

                <small class="text-center">&copy; 2016 MODUS DESIGN, LLC</small>

                <small class="footer--social-links">
               <a class="white" href="#">TWITTER</a> / 
               <a class="white" href="#">INSTAGRAM</a> /
               <a class="white" href="#">FACEBOOK</a>
           </small>

            </div>
-->
       
        </footer>
    </section>

    <!-- FOOTER -->