<!-- OVERLAY -->

<div id="menu-overlay" class="menu-overlay--close">
    <!-- HEADER -->
    <header>
        <div class="container navigation--full">
            <div class="col-xs-12 header--logo">
<!--                <a href="/"><img class="" height="60px" width="60px" src="/img/logo.png" alt=""></a>-->


                <span class="header--routes">
                        <ul class="modus-menu">
                            
                            {{> primaryNavigation}}
                        </ul>

                        <ul class="modus-menu--overlay-button">
                            <li class="">
                                <a class="overlay-menu-close" href="#">
                                    <i class="fa fa-close"></i>
                                </a>
                            </li>
                        </ul>
                        </span>
            </div>
        </div>
    </header>
    <!-- HEADER -->


    <!-- OVERLAY LINKS -->
    <span class="container overlay--routes">
                        <ul class="overlay-menu">
                            {{> primaryNavigation}}
                        </ul>

                        
                        </span>

    <!-- #OVERLAY LINKS -->

</div>
<!-- #OVERLAY -->