<li><a href="/">Home</a></li>
<li><a href="work">Work</a></li>
<li><a href="services">Services</a></li>
<li><a href="mailto:aliwamahiu@gmail.com"><i class="fa fa-envelope-o"></i> &nbsp;Email</a></li>
<!--
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
-->
