<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{> favicon}}


    <title>Ali Wamahiu | UI/UX Designer | {{title }}</title>

    {{> styles}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Passion+One:400,700,900|Merriweather:400,700"> {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>

<body>


    {{{body}}}
    
    {{> scripts}}
    {{{pageScript}}}
</body>

</html>