<!-- HERO -->
<section class="hero remove-padding">
    <div class="container">
        <h1 class="grey col-md-offset-2 col-md-8 col-xs-12"><strong>{{title}}</strong></h1>

        <!--                    <small class="black col-md-offset-2 col-md-8 col-xs-12">By Ali Wamahiu</small>-->

        <div class="clearfix"></div>

        <p class="col-md-offset-2 col-md-8 col-xs-12 serif blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quisquam necessitatibus earum dolores officiis accusamus excepturi reiciendis nemo? Perferendis ut facere eius, sit necessitatibus quam ipsum explicabo debitis vero aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquam molestiae odio sequi, recusandae cupiditate maxime voluptates id beatae totam dolorem placeat accusamus nihil commodi ipsam porro, veritatis natus ut?</p>

        <div class="clearfix"></div>

        <div class="cta col-md-offset-2 col-md-8 col-xs-12">
            <a href="contact" class="yellow serif">
                <i class="fa fa-download"></i> View Resume PDF
            </a>
        </div>
    </div>
</section>
<!-- HERO -->

<!-- BLOG LINKS -->
            <section class="blog-links">
                <div class="container">

                    <div class="col-sm-4 col-xs-12">
                        <div href="#" class>

                            <small>TYPE</small>

                            <h2>Blog Type</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid deserunt voluptatibus nisi, iure quos tenetur quisquam perspiciatis doloremque.</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div href="#" class>

                            <small>TYPE</small>

                            <h2>Blog Type</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid deserunt voluptatibus nisi, iure quos tenetur quisquam perspiciatis doloremque.</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div href="#" class>

                            <small>TYPE</small>

                            <h2>Blog Type</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid deserunt voluptatibus nisi, iure quos tenetur quisquam perspiciatis doloremque.</p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- BLOG LINKS -->



<!-- FEATURES --
<section class="resume">
    <div class="container">

        <h3 class="blue col-md-offset-2 col-md-8 col-xs-12">
            EXZEO 
        </h3>

        <p class="resume-paragraph black col-md-offset-2 col-md-8 col-xs-12">
            <strong>December 2014 - September 2016</strong>
            <br>
            <strong>Tampa, Florida</strong>
            <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi</p>

</section>
<!-- FEATURES -->