<!-- HERO -->
<section class="hero remove-padding">
    <div class="container">
        <h1 class="grey col-md-offset-2 col-md-8 col-xs-12"><strong>{{title}}</strong></h1>

        <!--                    <small class="black col-md-offset-2 col-md-8 col-xs-12">By Ali Wamahiu</small>-->

        <div class="clearfix"></div>

        <p class="col-md-offset-2 col-md-8 col-xs-12 serif blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quisquam necessitatibus earum dolores officiis accusamus excepturi reiciendis nemo? Perferendis ut facere eius, sit necessitatibus quam ipsum explicabo debitis vero aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquam molestiae odio sequi, recusandae cupiditate maxime voluptates id beatae totam dolorem placeat accusamus nihil commodi ipsam porro, veritatis natus ut?</p>

        
    </div>
</section>
<!-- HERO -->

<!-- BLOG LINKS -->
<section class="contact-details">
    <div class="container">
<div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-12">
        
            <div class="">

                <h2>Social</h2>
                <a href="#">LinkedIn</a>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
            </div>
        </div>
        

        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="">

                <h2>Contact Info</h2>
                <a href="#">aliwamahiu@gmail.com</a>
                <a href="#">(+1)-407-493-6026</a>
            </div>
        </div>

    </div>
</section>
<!-- BLOG LINKS -->