<!-- HERO -->
<section class="hero">
    <div class="container text-center">
        <h1 class="black col-xs-12">Hi, my name's Ali.</h1>

<!--        <small class="black col-xs-12">Empower. Engage. Excite.</small>-->

        <div class="clearfix"></div>

        <p class="col-sm-8 col-sm-offset-2 col-xs-12 serif grey">
        I design and develop online brand identities and cross-platform digital experiences that engage and empower both consumers and businesses.
        </p>

        <div class="clearfix"></div>

        <div class="cta col-xs-12">
            <a href="work" class="btn btn-lg btn-warning btn-outline">SEE MY WORK</a>
        </div>
    </div>
</section>
<!-- HERO -->

<!-- FEATURES -->
<section class="features">
    <div class="container">
        
        <div class="feature-area">
        </div>

        <div class="col-xs-12 text-center">
            <a class="see-more-link yellow" href="work">See More Projects</a>
        </div>

    </div>
</section>
<!-- FEATURES -->

<!-- SKILLS -->
<section class="skills">
    <div class="container grey">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class>
                <h3>Plan</h3>
                <p>Each project starts with a discussion where we lay out preliminary blueprints and plan the best solution. Feel free to <a href="contact">get in touch</a> now to start your project.</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class>
                <h3>Research</h3>
                <p>With a plan of action agreed upon, we’ll look at what others are doing in the same space to find common design patterns and highlight ways for you to stand out.</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class>
                <h3>Prototype</h3>
                <p>Once we have a good idea of what the product should look like, I’ll start designing a prototype that’s usable and accessible on all devices and at any resolution. </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class>
                <h3>Develop</h3>
                <p>After several rounds of feedback and the prototype is approved, we’ll move into the development phase which involves coding, launching and maintenance.</p>
            </div>
        </div>


    </div>
</section>
<!-- SKILLS -->

<!-- CALL OUT -->
<section class="call-out">
    <div class="container">

        <div class="col-md-offset-3 col-md-5 col-xs-12">
            <h2 class="">Let's Work Together</h2>

        </div>

        <div class="col-md-offset-3 col-md-5 col-xs-12">
            <div class>

                <p>Are you thinking of establishing a new brand, launching an online store, designing a mobile app or simply redesigning a current website? I offer several creative design and developing services, including graphic responsive web design and development, that can help you reach your goal. Send me a message and tell me a bit about your project to get the ball rolling.</p>
            </div>
        </div>

        <div class="col-sm-2 col-xs-12">
            <div>

                <a class="yellow" href="services">Services</a>
                <br>
                <a class="yellow" href="mailto:aliwamahiu@gmail.com">Email</a>

            </div>
        </div>


    </div>
</section>
<!-- CALL OUT -->