<!-- HERO -->
<section class="hero">
    <div class="container text-center">
        <h1 class="black col-xs-12">What I Can Do For You</h1>

<!--        <small class="black col-xs-12">Empower. Engage. Excite.</small>-->

        <div class="clearfix"></div>

        <p class="col-sm-8 col-sm-offset-2 col-xs-12 serif grey">
        I have a certain set of skills that can help you or your business establish or enhance your online identity.
        </p>

        <div class="clearfix"></div>
    </div>
</section>
<!-- HERO -->

<!-- SKILLS -->
<section class="skills text-center">
    <div class="container grey">

        <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://hd.unsplash.com/photo-1472393365320-db77a5abbecc" alt="">-->
                <h3>Branding</h3>
                <p>Having a <strong>strong brand identity</strong> is an essential tool these days. All collateral needs to communicate a cohesive message that compliments your business strategy.</p>
            </div>
        </div>

        <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://hd.unsplash.com/photo-1454430690613-c5fbdb397f65" alt="">-->
                <h3>Responsive Development</h3>
                <p>Mobile internet usage now leads desktop usage and continues to grow. It is now an expectation  that websites and web apps be accessible from all devices.</p>
            </div>
        </div>

       <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://hd.unsplash.com/1/iphone-4-closeup.jpg" alt="">-->
                <h3>User Experience Design</h3>
                <p>Understanding your customers and designing your product around their needs is the most effective way to maximize your online conversion and profits. </p>
            </div>
        </div>
       
        <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://hd.unsplash.com/photo-1453644877421-c9328b8ea8d0" alt="">-->
                <h3>Interface Design</h3>
                <p>User flow mapping, information architecture, content strategy, wireframing and prototyping act as a map to your website or applications visual identity.</p>
            </div>
        </div>

        <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://images.unsplash.com/photo-1472772224448-b24d00409675?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=fb8fe1d22d8a46dd1f327cff69825b5d" alt="">-->
                <h3>Graphic Design</h3>
                <p>Advertise and communicate your message across different mediums. Whether it be pamphlets, clothing or on social media platforms such as facebook and twitter.</p>
            </div>
        </div>

        <div class="service-item col-md-4 col-sm-6 col-xs-12">
            <div class>
<!--                <img src="https://hd.unsplash.com/photo-1467007849282-42dad96c2312" alt="">-->
                <h3>Style Guides</h3>
                <p>Establishing a style guide allows your brand identity to seamlessly evolve as your business does. It also allows you to market a consistent message across mediums. </p>
            </div>
        </div>

    </div>
</section>
<!-- SKILLS -->