<!-- HERO -->
<section class="hero">
    <div class="container text-center">
        <h1 class="black col-xs-12">Work</h1>

<!--        <small class="black col-xs-12">Empower. Engage. Excite.</small>-->

        <div class="clearfix"></div>

        <p class="col-sm-8 col-sm-offset-2 col-xs-12 serif grey">
        Here's a sample of my work.
        </p>

        <div class="clearfix"></div>
    </div>
</section>
<!-- HERO -->


<!-- FEATURES -->
<section class="features">
    <div class="container">
        
        <div class="feature-area"></div>

        

    </div>
</section>
<!-- FEATURES -->

<!-- SNAPS -->
<section class="snaps">
    <div class="container">
        <h2 class="text-center black col-xs-12">
            <strong>Snapshots</strong>
        </h2>
        
        <div class="snaps-area"></div>
    </div>
</section>

<!-- #SNAPS -->

<!-- BLOCK QUOTE
<section class="blockquote">
    <div class="container">

        <div class="col-sm-offset-1 col-sm-10 col-xs-12">

            <blockquote cite="http://www.worldwildlife.org/who/index.html">
                "For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported."
            </blockquote>

            <small><a href="#">– SOURCE, JOHN DOE</a></small>

        </div>

    </div>
</section>
<!-- BLOCK QUOTE -->