<div class="project">
    <!-- PROJECT HERO -->
    <div class="project-hero" style="background-image: url({{headerImage}})">

        {{> navigation}}

        <!-- PROJECT TITLE -->
        <div class="project-title">
            <div class="col-xs-12 text-center">
                <h1 color="white">{{title}}</h1>
            </div>
        </div>
        <!-- #PROJECT TITLE -->

    </div>
    <!-- #PROJECT HERO -->


    <!-- PROJECT LEAD -->
    <section class="project-lead">
        <div class="container text-center">
            <h1 class="grey col-xs-12">Simplifying Geospatial Mapping</h1>



            <div class="clearfix"></div>

            <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">
                Let’s face it. In this day and age many businesses with external assets struggle to keep up with all their moving parts in real-time, regardless of scale. Solving this problem is complex and usually leads to unfriendly and counter-productive interfaces. Atlas Viewer was created with the goal of watering down this experience to its simplest form while maintaining functionality.
            </p>

            <div class="clearfix"></div>


        </div>
    </section>
    <!-- PROJECT LEAD -->

    <!-- FEATURES -->
    <section class="project-feature">
        <div class="container text-center">

            <div class="col-xs-12">
                <div a href="#" class="feature--image">

                    <img src="{{leadImage}}" alt="" class="img-responsive">

                </div>
            </div>

        </div>
    </section>
    <!-- FEATURES -->



    <!-- PROJECT LEAD -->
    <section class="project-notes">
        <div class="container text-center">

            <h1 class="grey col-xs-12">About The Project</h1>

            <div class="clearfix"></div>

            <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">The biggest challenge I had in this project was keeping the interface simple without teetering into minimalism. Straightening out the initial learning curve while maximizing productivity was the penultimate goal. All mapping elements were designed to be unobtrusive so as to keep focus on the actual map without relying on spreadsheets.</p>

            <div class="clearfix"></div>

            <div class="col-sm-offset-1 col-sm-10">
                <div a href="#" class="feature--image">

                    <img src="{{wireframeImage}}" alt="" class="img-responsive project-notes--image">

                </div>
            </div>

        </div>
    </section>
    <!-- PROJECT LEAD -->

</div>