<div class="project">
    <!-- PROJECT HERO -->
    <div class="project-hero" style="background-image: url({{headerImage}})">

        {{> navigation}}

        <!-- PROJECT TITLE -->
        <div class="project-title">
            <div class="col-xs-12 text-center">
                <h1 color="white">{{title}}</h1>
            </div>
        </div>
        <!-- #PROJECT TITLE -->

    </div>
    <!-- #PROJECT HERO -->


    <!-- PROJECT LEAD -->
    <section class="project-lead">
        <div class="container text-center">
            <h1 class="grey col-xs-12">An Adventure Network</h1>



            <div class="clearfix"></div>

            <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">
                Finding our next, great adventure can be both thrilling and daunting. The excitement of planning usually devolves into a chaos driven nightmare of planning, finding the best flight and hotel deals, finding places to go and things to do, etcetera, etcetera. Move HQ seeks to simplify the process by allowing those with a thirst for adventure to find all the information they need in one place.
            </p>

            <div class="clearfix"></div>


        </div>
    </section>
    <!-- PROJECT LEAD -->

    <!-- FEATURES -->
    <section class="project-feature">
        <div class="container text-center">

            <div class="col-xs-12">
                <div a href="#" class="feature--image">

                    <img src="{{leadImage}}" alt="" class="img-responsive">

                </div>
            </div>

        </div>
    </section>
    <!-- FEATURES -->



    <!-- PROJECT LEAD -->
    <section class="project-notes">
        <div class="container text-center">

            <h1 class="grey col-xs-12">About The Project</h1>

            <div class="clearfix"></div>

            <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">For this project, the goal was to create an exciting and friendly interface that would encourage users to inspire each other to share and discuss travel tips and destinations. To create that friendly mood, I used Museo Sans, a rounded font face, while the colors are bright and vivid to encourage excitement.</p>

            <div class="clearfix"></div>

            <div class="col-sm-offset-1 col-sm-10">
                <div a href="#" class="feature--image">

                    <img src="{{wireframeImage}}" alt="" class="img-responsive project-notes--image">

                </div>
            </div>

        </div>
    </section>
    <!-- PROJECT LEAD -->

</div>