<div class="project">
<!-- PROJECT HERO -->
<div class="project-hero" style="background-image: url({{headerImage}})">

    {{> navigation}}

    <!-- PROJECT TITLE -->
    <div class="project-title">
        <div class="col-xs-12 text-center">
            <h1 color="white">{{title}}</h1>
        </div>
    </div>
    <!-- #PROJECT TITLE -->

</div>
<!-- #PROJECT HERO -->


<!-- PROJECT LEAD -->
<section class="project-lead">
    <div class="container text-center">
        <h1 class="grey col-xs-12">P&amp;C Insurance for the 21 Century</h1>



        <div class="clearfix"></div>

        <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">
        As with many businesses operating in finance, <strong>property and casualty insurance</strong> has been slow to catch up to modern technology standards in the way they approach business. TypTap Insurance was founded with the goal of innovating the typical experience, offering their customers a platform that didn’t just allow them to get a quote, but took the next step in allowing them to purchase affordable policies from the comfort of their couch.
        </p>

        <div class="clearfix"></div>


    </div>
</section>
<!-- PROJECT LEAD -->

<!-- FEATURES -->
<section class="project-feature">
    <div class="container text-center">

        <div class="col-xs-12">
            <div a href="#" class="feature--image">

                <img src="{{leadImage}}" alt="" class="img-responsive">
                
            </div>
        </div>

    </div>
</section>
<!-- FEATURES -->



<!-- PROJECT LEAD -->
<section class="project-notes">
    <div class="container text-center">

        <h1 class="grey col-xs-12">About The Project</h1>
        
        <div class="clearfix"></div>

        <p class="col-sm-offset-2 col-sm-8 col-xs-12 serif">Over the course of the project, I had three clear goals; ensuring the friendly and trustworthy brand identity remained consistent, making sure the app was accessible on all devices and maximizing customer conversion. A little over 3 months after launch, the company celebrated sales over one million dollars and had a customer conversion rate higher than average eCommerce platforms.</p>

        <div class="clearfix"></div>

        <div class="col-sm-offset-1 col-sm-10">
            <div a href="#" class="feature--image">

                <img src="{{wireframeImage}}" alt="" class="img-responsive project-notes--image">

            </div>
        </div>
        
    </div>
</section>
<!-- PROJECT LEAD -->

</div>